.Footer {
  display: flex;
  height: 8.1rem;
  background-color: #ffffff;
  justify-content: center;
  background-color: rgb(236, 236, 236);
}

.social-links {
  transition: 0.2s ease-in-out;
  position: relative;
  list-style: none;
  display: flex;
  height: 100px;
  width: 500px;
}

.social-links:hover > li {
  transform: scale(0.95);
  filter: blur(2px);
}

.social-links li {
  transition: 0.2s ease-in-out;
  border-radius: 10px;
  place-items: center;
  cursor: pointer;
  display: grid;
  margin: auto;
  height: 80px;
  width: 80px;
}

.social-links li:hover {
  filter: blur(0px);
  transform: scale(1);
}

.social-links svg {
  transition: 0.2s ease-in-out;
  pointer-events: none;
  height: 40px;
  width: 40px;
}

.social-links li.google {
  background-color: #ea4335;
}

.social-links li.facebook {
  background-color: #3f51b5;
}

.social-links li.twitter {
  background-color: #03a9f4;
}

.btnUp,
.btnDown {
  overflow: hidden;
  transition: all 0.3s ease;
  height: 3rem;
  width: 10rem;
  float: right;
  margin-top: 5%;
  margin-right: 100px;
  border: transparent;
  border-radius: 12px;
  font-size: 1rem;
  text-align: center;
}

.btnUp {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-tap-highlight-color: transparent;
}

.btnUp {
  width: 150px;
  height: 50px;
  cursor: pointer;
  border: none;
  color: rgba(0, 0, 0, 0.486);
  font-size: 20px;
  border-radius: 4px;
  box-shadow: inset 0px 3px 5px rgba(255, 255, 255, 0.5),
    0px 0px 10px rgba(0, 0, 0, 0.15);
  background: rgb(2, 0, 36);
  background: linear-gradient(
    45deg,
    rgba(2, 0, 36, 0) 5%,
    rgba(255, 255, 255, 0.5) 6%,
    rgba(255, 255, 255, 0) 9%,
    rgba(255, 255, 255, 0.5) 10%,
    rgba(255, 255, 255, 0) 17%,
    rgba(255, 255, 255, 0.5) 19%,
    rgba(255, 255, 255, 0) 21%
  );
  background-size: 150%;
  background-position: right;
  transition: 1s;
}

.btnUp:hover {
  background-position: left;
  color: rgb(0, 0, 0);
  box-shadow: inset 0px 3px 5px rgba(255, 255, 255, 1),
    0px 0px 10px rgba(0, 0, 0, 0.25);
}

.btnUp:focus {
  outline: none;
}

.btnUp {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-tap-highlight-color: transparent;
}

.btnDown {
  width: 150px;
  height: 50px;
  cursor: pointer;
  border: none;
  color: rgba(0, 0, 0, 0.486);
  font-size: 20px;
  border-radius: 4px;
  box-shadow: inset 0px 3px 5px rgba(255, 255, 255, 0.5),
    0px 0px 10px rgba(0, 0, 0, 0.15);
  background: rgb(2, 0, 36);
  background: linear-gradient(
    45deg,
    rgba(2, 0, 36, 0) 5%,
    rgba(255, 255, 255, 0.5) 6%,
    rgba(255, 255, 255, 0) 9%,
    rgba(255, 255, 255, 0.5) 10%,
    rgba(255, 255, 255, 0) 17%,
    rgba(255, 255, 255, 0.5) 19%,
    rgba(255, 255, 255, 0) 21%
  );
  background-size: 150%;
  background-position: right;
  transition: 1s;
}

.btnDown:hover {
  background-position: left;
  color: rgb(0, 0, 0);
  box-shadow: inset 0px 3px 5px rgba(255, 255, 255, 1),
    0px 0px 10px rgba(0, 0, 0, 0.25);
}

.btnDown:focus {
  outline: none;
}
