.Navbar {
  display: flex;
  height: 8.1rem;
  background-color: #ffffff;
  overflow: hidden;
}

.sticky {
  position: fixed;
  top: 0;
  width: 100%;
}

.search-btn {
  background-color: transparent;
  border: transparent;
}
